* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.header .logo {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(238, 70, 9, 0.856);
  font-weight: 600;
}
.header .btn {
  margin-left: 70rem;
  width: 180px;
  height: 60px;
  background-color: hsl(180, 65%, 92%);
  border: none;
  border-radius: 6px;
  color: rgb(19, 19, 61);
  font-weight: 700;
  cursor: pointer;
}
.section {
  display: flex;
  flex-direction: row;
  margin-left: 8.5rem;
  margin-top: 6rem;
}
.section .description h1 {
  font-weight: 600;
  font-size: 50px;
  color: rgb(19, 19, 61);
}
.section .description p {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(177, 177, 177);
}
.section button {
  width: 180px;
  height: 60px;
  margin-top: 25px;
  border: none;
  border-radius: 6px;
  background-color: rgba(238, 70, 9, 0.856);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.section .image-content {
  border: none;
  border-radius: 6px;
  width: 800px;
  height: 600px;
  background-image: url(../Images/b45c8e6e2b12bafc184034763f38ea29_original.avif);
  background-size: cover;
  background-position: center;
  margin-left: 100px;
}
.section .empety {
  width: 600px;
  height: 200px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(177, 177, 177);
  margin-left: 30px;
}
.section-02 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.section-02 .sec1 {
  height: 200px;
  width: 300px;
  background-color: rgb(177, 177, 177);
  margin-top: 200px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.section-02 .sec2 {
  height: 400px;
  width: 350px;
  background-image: url(../Images/94ff49a85a88782142d35d400585154b.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  margin-left: 40px;
}
.section-02 .sec3 {
  height: 400px;
  width: 600px;
  margin-left: 80px;
  background-image: url(../Images/ndn2zhorv5j71.webp);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
.section-02 .description2 {
  margin-left: 80px;
}
.section-02 .description2 h1 {
  font-size: 40px;
  color: rgb(19, 19, 61);
  font-weight: 600;
}
.section-02 .description2 p {
  color: rgb(177, 177, 177);
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
.section-03 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 250px;
}
.container1 {
  display: flex;
  flex-direction: column;
}
.section-03 .container1 {
  height: 400px;
  width: 300px;

  margin-left: 40px;
  border-radius: 6px;
}
.icon1 {
  width: 80px;
  height: 80px;
  background-color: hsl(16, 93%, 48%);
  background-image: url(../Images/Icons/icon-compatible.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.container1 h2 {
  margin-top: 30px;
  color: rgb(19, 19, 61);
  font-weight: 700;
}
.container1 p {
  margin-top: 30px;
  color: rgb(177, 177, 177);
  font-size: 20px;
  font-weight: 400;
}
.icon2 {
  width: 80px;
  height: 80px;
  background-color: hsl(16, 93%, 48%);
  background-image: url(../Images/Icons/icon-bluetooth.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}
